body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  overflow-x: hidden;
}
nav{
  background-color: #FFFFFF;
  height: 4em;
  margin: 0;
  margin-top: -1em;
  width: 100%;
  position: fixed;
  border-bottom: solid #6B6B6B 1px;
  z-index: 1;
}

a{
  text-decoration: none;
  color: #000000;

}

#navList{
  display: grid;
  grid-template-columns: 10% 10% auto;
  grid-template-rows: 0.75em 2em auto;
  list-style: none;
}

nav>ul>li:nth-of-type(1), nav>ul>li:nth-of-type(2){
  grid-row-start: 2;
  grid-row-end: 2;
}

.shadow{
  animation: shadow  ease forwards;

}

@keyframes shadow {
  0%{
    box-shadow: none;
  }
  100%{
    box-shadow: 0px 5px 48px -10px rgba(0,0,0,0.75);
    border-bottom: none;
  }
}

section:nth-of-type(1){
  display: block;
  padding: 4em 0 4em 0;


}

h1{
  position: absolute;
  top: 33%;
  left: 28%;
  font-size: 3em;
  letter-spacing: 0.35em;

}

#hoofd{
  width: 15em;
  transform: scaleX(-1);
  padding-top: 3.5em;
}



.scrolling{
  animation: move 1s ease forwards;
}

@keyframes move {
  0%{
    top: 25%;
  }
  100%{
    top: -1.3em;
    left: 43%;
    position: fixed;
    font-size: 1.5em;
    letter-spacing: normal;
    z-index: 2;

  }
}

section:nth-of-type(2){
    display: block;
    width: 100%;
    height: auto;
}

h2{
  text-align: center;
  padding-top: 3em;
  /* letter-spacing: 0.25em; */
}

#myWork{
  display: grid;
  grid-template-columns: auto 25% 25% 25% 9%;
  grid-template-rows: 33.5em 33.5em 33.5em;
  grid-row-gap: 1.5em;
  grid-column-gap: 2em;
  list-style: none;
  overflow: hidden;

}

#myWork>li{
  padding: 1.5em;
  box-shadow: 0px 0px 23px 0px rgba(199,199,199,1);
  overflow: hidden;
  margin: 1em auto;
}

.container{
  height: 25em;
  width: auto;
  overflow: hidden;
}

#myWork>li:nth-of-type(1){
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: auto;
}

#myWork>li:nth-of-type(2){
  grid-column-start: 3;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: auto;

}

#myWork>li:nth-of-type(3){
  grid-column-start: 4;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: auto;

}

#myWork>li:nth-of-type(4){
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: auto;

}

#myWork>li:nth-of-type(5){
  grid-column-start: 3;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: auto;

}

#myWork>li:nth-of-type(6){
  grid-column-start: 4;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: auto;

}

#myWork>li:nth-of-type(7){
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 3;
  grid-row-end: auto;

}

li > div > a > img{
  max-width: 100%;
  max-height: auto;
  /* margin: 0 25% 0 25%; */
}

p{
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;

}


.test{
  animation: fade 3s ease forwards;
}

@keyframes fade {
  0%{
    background-color: #FFFFFF;
  }
  80%{
    background-color: #FFFFFF;
  }

  100%{
    background-color: #FF3300;
  }
}


#footer > ul{
  list-style: none;
  height: 4em;
  background-color: #A5A5A5;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: auto 40% 24% 3% auto;
}

#footer > ul > li:nth-of-type(1){
  grid-column-start: 2;
  grid-column-end: auto;
  text-align: right;
  margin-top: 1.25em;
  font-weight: 500;
}

#footer > ul > li:nth-of-type(2){
  grid-column-start: 4;
  grid-column-end: auto;
  margin-top: 1em;
}

#footer > ul > li:nth-of-type(3){
  grid-column-start: 5;
  grid-column-end: auto;
  margin-top: 1em;
}

#linkedin, #facebook{
  max-width: 1.5em;
  height: 1.5em;
}
